@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);

  --color-clay: #E2725B;
  --color-clay-dark: #c05842;
  --color-sand: #F4A460;
  --color-sand-light: #fbebd9;
  --color-olive: #556B2F;
  --color-deep-blue: #0A1128;
  --color-cream: #FDFBF7;
  
  --color-background: var(--color-cream);
  --color-foreground: var(--color-deep-blue);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
